# Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

In [5]:
pwd()

'C:\\Users\\dell'

# Step 2. Import the dataset (Keep the "pandas_data.tsv" file in same PWD)

# Step 3. Assign it to a variable called chipo.

In [8]:
chipo=pd.read_csv("pandas_data.tsv",sep="\t")

In [9]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Step 4. See the first 10 entries

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [12]:
chipo.shape[0]

4622

In [13]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Step 6. What is the number of columns in the dataset?

# chipo.shape[1]

# Step 7. Print the name of all the columns.

In [17]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# Step 8. How is the dataset indexed?

In [20]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

# Step 9. Which was the most-ordered item?

In [21]:
c=chipo.groupby('item_name')
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 10. For the most-ordered item, how many items were ordered?

In [22]:
c=chipo.groupby('item_name')
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

# Step 11. What was the most ordered item in the choice_description column?

In [24]:
c=chipo.groupby('choice_description').sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

# Step 12. How many items were orderd in total?

In [25]:
total_order=chipo.quantity.sum()

In [26]:
total_order

4972

# Step 13. Turn the item price into a float

In [28]:
chipo.item_price.dtype

dtype('O')

In [32]:
dollarizer=lambda x:float(x[1:])
chipo.item_price=chipo.item_price.apply(dollarizer)

In [34]:
chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [35]:
chipo.item_price.dtype

dtype('float64')

# Step 14. How much was the revenue for the period in the dataset?

In [38]:
revenue=(chipo['quantity']*chipo['item_price']).sum()
print(revenue)
print("Revenue was: $" + str(np.round(revenue,2)))

39237.02
Revenue was: $39237.02

In [37]:
revenue

39237.02

# Step 15. How many orders were made in the period?

In [47]:
orders = chipo.order_id.value_counts().count()

In [48]:
chipo.order_id.value_counts().count()

1834

In [49]:
orders

1834